<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
  <title>Document</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>Машина</th>
    <th>Цена</th>
    <th><a>Выбрать машину</a></th>
  </tr>
  </thead>
  <tr th:each="car : ${cars}">
    <td th:text="${car.name}"> </td>
    <td th:text="${car.price}"> </td>
    <td><a th:href="@{/order/{id}(id=${car.id})}">Выбрать машину</a></td>
  </tr>
</table>



</form>
</body>
</html>